<ion-view view-title="About">
	<ion-content class="padding">
		<h1>Welcome to the Asterix the Gaul Checklist!</h1>
		<p>This is a small personal project using <a href="https://angularjs.org/" target="_blank">AngularJS 1</a>, <a href="http://ionicframework.com/" target="_blank">Ionic</a> and HTML5 Local Storage. Click the check mark to add the comic album to your collection. It will be saved to your local storage so you can view it later when you open the site again in the same browser. You can find out more about <a href="http://en.wikipedia.org/wiki/Asterix" target="_blank">Asterix the Gual here</a>.</p>
	</ion-content>
</ion-view>